
<div class="" *ngIf="pokemon |async as pokemon">
  <h1>{{pokemon?.name}}</h1>
  <p>pokedex id: {{pokemon?.pokedexId}}</p>
  <img src="{{pokemon?.image}}" alt="">
  <img src="{{pokemon?.sprite}}" alt="">
  <ul>
    <h2>stats:</h2>
    <li>hp: {{pokemon?.stats?.HP}}</li>
    <li>attack: {{pokemon?.stats?.attack}}</li>
  </ul>

  <div class="row">
    <h2>résistances :</h2>
    <div class="col-1 card bg-secondary-subtle m-1" *ngFor="let item of pokemon?.apiResistances">
      <p>{{item.name}}</p>
    </div>
  </div>



</div>



